.box{
  width: 200px;
  text-align: center;
  background: #ebebeb;
  margin-bottom: 10px;
}
.content{
  display: inline-block;
  text-align: left;
}

.ao{
  display: inline-block;
  width: 0;
}
.ao::before{
  content: 'love 你 love';
  outline: 2px solid #cd0000;
  color: #ffffff;
}